#titlebar {
	margin: 0;
	padding: 15px;
	background-color: #55ADD8;
	color: white;
	text-align: center;
}
/*#title {
	margin-top:0;
	margin-bottom: 0;
}*/
#options-list {
    float: right;
    list-style-type: none;
    -webkit-padding-start: 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}
#options {
	margin-top: 15px;
}
li.option-item {
    display: inline;
    padding-left: 15px;
    cursor: pointer;
}
li.option-item a {
	color: white;
}
#options-list > li:nth-child(1) {
    padding-left: 0;
}

#settings {
	margin: 15px;
	margin-bottom: 0;
	padding: 15px;
	border-radius: 4px;
	background-color: #3BCE81;
	color: white;
}
.setting-value {
	width: 90px;
	float: right;
	display: inline-block;
}
.setting-label {
	display: inline-block;
}
.setting-row {
	height: 45px;
	margin-bottom: 10px;
}
#settings > div:last-child(n){
	margin-bottom: 0;
}
#input {
	margin-top: 15px;
}

#company-selector-input, #student-selector-input{
	border-radius: 0;
}

.add-button{
	width: 100%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#student-form, #company-form {
	margin: 15px;
}
#welcome {
	margin-top: 25px;
	padding-top: 25px;
}
#submit-row{
	margin-top: 15px;
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 4px;
	margin-bottom: 15px;
}

.answer {
	margin: 15px;
}

.studentname {
	font-weight: bold;
	margin-right: 15px;
}
.student-choice-list {
	list-style-type: none;

}