<!DOCTYPE html>
<html lang="en" ng-app="ieee">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IEEE Networking Dinner</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/flat-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.1.0.min.js"></script>
    <!-- <script src="js/app.js"></script> -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="MainCtrl">
    <div class="row" id="titlebar">
      <h5 class="col-xs-6 col-xs-offset-3" id="title">
        IEEE Networking Dinner Planner
      </h5>
      <div class="col-xs-3" id="options">
        <ul id="options-list">
          <li class="option-item"><a class="fui-gear" ng-click="toggleSettings()"></a></li>
          <li class="option-item"><a class="glyphicon glyphicon-question-sign"></a></li>
          <li class="option-item upload-button"><a class="glyphicon glyphicon-cloud-upload"></a>  Upload</li>
        </ul>
      </div>
    </div>
    <section id="settings" ng-show="settings_shown">
      <h6>Class Weights</h6>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="Something awful here comes">Freshman </span></div>
        <div class="setting-value">
          <input type="number" ng-model="settings.weights.grade[0]" class="form-control" />
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Sophomore </span></div>
        <div class="setting-value">
          <input type="number" ng-model="settings.weights.grade[1]" class="form-control" />
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Junior </span></div>
        <div class="setting-value">
          <input type="number" ng-model="settings.weights.grade[2]" class="form-control" />
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Senior </span></div>
        <div class="setting-value">
        <input type="number" ng-model="settings.weights.grade[3]" class="form-control" />
        </div>
      </div>
      <h6>Misc. Weights</h6>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Major Weight </span></div>
        <div class="setting-value">
          <input type="number" class="form-control" ng-model="settings.weights.major"/>
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Student Preference </span></div>
        <div class="setting-value">
          <input type="number" class="form-control" ng-model="settings.weights.company" />
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Fulltime Weight </span></div>
        <div class="setting-value">
          <input type="number" class="form-control" ng-model="settings.weights.fulltime" />
        </div>
      </div>
      <div class="setting-row">
        <div class="setting-label"><span data-toggle="tooltip" title="">Intern Weight </span></div>
        <div class="setting-value">
          <input type="number" class="form-control" ng-model="settings.weights.intern" />
        </div>
      </div>
    </section>
    <section id="input">
      <div class="row" style="margin: 0">
        <div class="col-sm-5 col-sm-offset-1" id="student-selector" ng-click="editStudent()">
          <select name="students-select" ng-model="currentstudent" ng-options="student as student.name for student in students" id="student-selector-input" class="form-control" size="10" ng-click="editStudent()"></select>
          <button type="button" id="student-add" class="btn btn-primary add-button" ng-click="addStudent()">Add New</button>
        </div>
        <div class="col-sm-5" id="company-selector" ng-click="editCompany()">
          <select name="companies-select" ng-model="currentcompany" ng-options="company as company.name for company in companies" id="company-selector-input" class="form-control" size="10" ng-click="editCompany()"></select>
          <button type="button" id="company-add" class="btn btn-primary add-button" ng-click="addCompany()">Add New</button>
        </div>
      </div>

      <div class="row" id="inputter" style="margin: 0">
        <!-- Student Input   -->
        <div id="student-edit" class="col-xs-12" ng-show="edit=='student'">
          <form role="form" id="student-form">
            <div class="form-group">
              <label for="student-name">Full name</label>
              <input type="text" class="form-control" id="student-name" placeholder="Enter name" ng-model="currentstudent.name">
            </div>
            <div class="form-group">
              <label for="phone-number">Phone Number</label>
              <input type="tel" class="form-control" id="phone-number" placeholder="Enter phone number" ng-model="currentstudent.phone_number">
            </div>
            <div class="form-group">
              <label for="class">Year</label>
              <select class="form-control" name="class" ng-model="currentstudent.grade" ng-options="grade for grade in grades">
              </select>
            </div>
            <div class="form-group">
              <label for="major">Major</label>
              <select class="form-control" name="major" ng-model="currentstudent.major" ng-options="major for major in majors">
              </select>
            </div>
            <div class="form-group">
              <label for="food">Food</label>
              <select class="form-control" name="food" ng-model="currentstudent.food" ng-options="food for food in foodoptions">
              </select>
            </div>
            <div class="form-group">
              <label for="student-choice">Company</label>
              <select class="form-control" name="student-choice" ng-model="currentstudent.company" ng-options="company.name for company in companies">
              </select>
            </div>
            <!-- <button type="button" class="btn btn-default" id="student-submit" ng-click="deleteStudent()">Submit</button> -->
          </form>
        </div>

        <!-- Company Edit  -->
        <div id="company-edit" class="col-xs-12" ng-show="edit=='company'">
          <form role="form" id="company-form">
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input type="text" class="form-control" id="company-name" placeholder="Enter name" ng-model="currentcompany.name">
            </div>
            <div class="form-group">
              <label for="company-number">Number of Attendees</label>
              <input type="number" class="form-control" id="company-number" placeholder="Enter number of attendees" ng-model="currentcompany.number">
            </div>
            <div class="form-group">
              <label for="company-names">Names (comma separated)</label>
              <input type="text" class="form-control" id="company-names" placeholder="John Doe, Jane Smith, ..." ng-model="currentcompany.reps">
            </div>

            <label for="company-major">Preferred Major</label>
            <select class="form-control" name="company-major" id="company-major" ng-model="currentcompany.major" ng-options="major for major in majors">
            </select>

            <label for="company-food">Food Preference</label>
            <select class="form-control" name="company-food" id="company-food" ng-model="currentcompany.food" ng-options="food for food in foodoptions">
            </select>

            <label for="company-type">Recruiting Interest</label>
            <select class="form-control" name="company-type" id="company-type" ng-model="currentcompany.recruiting" ng-options="type for type in recruiting">
            </select>
           <!--  <button type="button" class="btn btn-default" id="company-submit">Submit</button> -->
          </form>          
        </div>

        <div class="col-xs-12" ng-show="edit == false">
          <div class="row">
            <div class="col-xs-8 col-sm-offset-2">
              <h4 id="welcome">
                Welcome!
              </h4>
              <p class="welcome">
                To get started, try clicking on one of the above select boxes to edit an entry, or add new students or companies. 
              </p>
              <p class="welcome">
              Everything saves automatically! If you'd like to upload a .csv file, try clicking on the cloud icon up above.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="submit-row" ng-show="edit != false">
          <button class="btn btn-success col-xs-12" id="submitbutton" ng-click="calculate()">Calculate!</button>
      </div>
      <div class="answer" id="displayanswers" ng-show="answered">
        <h5>Assignment 1</h5>
        <ul class="student-choice-list">
          <li ng-repeat="student in students" class="student-choice">
            <span class="studentname">{{student.name}}</span>
            <span class="companyname">{{student.finalcompany.name}}</span>
          
          </li>
        </ul>
          

      </div>
    </section>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/moonshine.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
    <script src="js/jquery.stacktable.js"></script>
  </body>
</html>