<!DOCTYPE html>
<html lang="en" ng-app="ieee">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IEEE Networking Dinner</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
    <script src="js/jquery-2.1.0.min.js"></script>
    <script src="js/app.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="row" id="titlebar">
      <div class="col-xs-6 col-xs-offset-3" id="title">
        IEEE Networking Dinner Planner
      </div>
      <div class="col-xs-3" id="options">
        <ul id="options-list">
          <li class="option-item"><span class="glyphicon glyphicon-wrench"></span></li>
          <li class="option-item"><span class="glyphicon glyphicon-question-sign"></span></li>
          <li class="option-item upload-button"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</li>
        </ul>
      </div>
    </div>
    <section id="settings" ng-controller="SettingsCtrl">
      Settings go here
    </section>

    <section id="input" ng-controller="MainCtrl">
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1" id="student-selector">
          <select name="students" ng-model="currentstudent" ng-options="students" multiple id="student-selector-input" class="form-control"></select>
          <button type="button" id="student-add" class="btn btn-primary add-button" ng-click="addStudent()">Add New</button>
        </div>
        <div class="col-sm-5" id="company-selector">
          <select name="companies" ng-model="currentcompany" ng-options="companies" multiple id="company-selector-input" class="form-control"></select>
          <button type="button" id="company-add" class="btn btn-primary add-button" ng-click="addCompany()">Add New</button>
        </div>
      </div>

      <div class="row" id="inputter">

        <!-- Student Input -->
        <div id="student-edit" class="col-xs-12" ng-show="edit=='student'">
          <form role="form" id="student-form">
            <div class="form-group">
              <label for="student-name">Full name</label>
              <input type="text" class="form-control" id="student-name" placeholder="Enter name" ng-model="currentstudent.name">
            </div>
            <div class="form-group">
              <label for="phone-number">Phone Number</label>
              <input type="tel" class="form-control" id="phone-number" placeholder="Enter phone number" ng-model="currentstudent.phone_number">
            </div>
            <select class="form-control" name="class" ng-model="currentstudent.grade" ng-options="grade as label for grade in grades">
            </select>
            <select class="form-control" name="major" ng-model="currentstudent.major" ng-options="major as label for major in majors">
            </select>
            <select class="form-control" name="food" ng-model="currentstudent.food" ng-options="food as label for food in foodoptions">
            </select>
            <select class="form-control" name="student-choice" ng-model="currentstudent.company" ng-options="company.name as label for company in companies">
            </select>
            <button type="button" class="btn btn-default" id="student-submit">Submit</button>
          </form>
        </div>

        <!-- Company Edit -->
        <div id="company-edit" class="col-xs-12" ng-show="edit='company'">
          <form role="form" id="company-form">
            <div class="form-group">
              <label for="company-name">Company Name</label>
              <input type="text" class="form-control" id="company-name" placeholder="Enter name" ng-model="currentcompany.name">
            </div>
            <div class="form-group">
              <label for="company-number">Number of Attendees</label>
              <input type="number" class="form-control" id="company-number" placeholder="Enter phone number">
            </div>
            <div class="form-group">
              <label for="company-names">Names (comma separated)</label>
              <input type="text" class="form-control" id="company-names" placeholder="John Doe, Jane Smith, ...">
            </div>

            <label for="company-major">Preferred Major</label>
            <select class="form-control" name="company-major" id="company-major" ng-model="currentcompany.major" ng-options="major as label for major in majors">
            </select>

            <label for="company-food">Food Preference</label>
            <select class="form-control" name="company-food" id="company-food" ng-model="currentcompany.food" ng-options="food as label for food in foodoptions">
            </select>

            <label for="company-type">Recruiting Interest</label>
            <select class="form-control" name="company-type" id="company-type" ng-model="currentcompany.recruiting" ng-options="type as label for type in recruiting">
            </select>
            <button type="button" class="btn btn-default" id="company-submit">Submit</button>
          </form>          
        </div>
      </div>
    </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-route/angular-route.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>